*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Assistant', sans-serif;
  color: #33475C;
}

.nav-top{
  width: 100%;
  background-color: #F5F8FA;
  border-bottom: 2px solid black;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.wrapper{
  width: 80%;
  margin: auto;
  position: relative;
}

.nav-top-lista{
  list-style: none;
  line-height: 100px;
}

.nav-top-lista > li{
  display: inline-block;
  font-size: 20px;
}

.sx{
  float: left;
}

.sx i:first-child{
  font-size: 20px;
}

.dx{
  float: right;
}

.barra{
  display: inline-block;
  font-size: 25px;
  font-weight: 400;
  margin-left: 40px;
}

.sx > li:first-child{
  padding-right: 20px;
}

.sx > li:last-child{
  padding-left: 20px;
}

.dx > li{
  margin: 0 15px;
}

.fa-search{
  color: #00A48D;
}

.btn{
  border-radius: 5px;
  padding: 10px;
}

.dx .white-btn{
  border-style: solid;
  border-radius: 5px;
  border-color: #FE775A;
  color: #FE775A;
  background-color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
}

.dx .btn{
  border-style: solid;
  border-radius: 5px;
  text-decoration: none;
  background-color: #FE775A;
  border: none;
  color: white;
  font-size: 16px;
  padding: 7px 10px;
}

.btn-orange{
  background-color: #FE775A;
  color: white;
  border: none;
}

.wrapper::after{
  content: "";
  display: table;
  clear: both;
}

.nav-bottom{
  margin-top: 100px;
}

.nav-bottom img{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.nav-bottom-lista{
  float: right;
}

.nav-bottom-lista li{
  display: inline-block;
  line-height: 100px;
  padding: 0 15px;
  font-size: 20px;
}

.wrapper2{
  height: 650px; /*avevo 900px*/
  width: 80%;
  margin: auto;
  position: relative;
}

.banner{
  position: absolute;
  top: 20%;
  width: 30%;
}

.banner h1{
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 30px;
}

.banner p{
  font-size: 20px;
  margin-bottom: 30px;
}

.btn-btn-orange-big{
  border-radius: 5px;
  background-color: #FE775A;
  color: white;
  border: none;
  padding: 20px 50px;
}

.banner p:last-child{
  font-size: 13px;
  margin-top: 30px;
  display: block;
}

.header{
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-bottom: 5px solid #33475C;
}

.striscia{
  height: 100px;
  background-color: #7BDED2;
  border-bottom: 5px solid #33475C;
}

.macro{
  background-color: #F5F8FA;
}

.wrapper-cubo{
  text-align: center;
}

.wrapper-testo {
  width: 900px;
  margin: auto;
}

.wrapper-cubo img{
  width: 300px;
  margin-top: 50px;
}

.wrapper-testo h1{
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 30px;
  text-align: center;
}

.wrapper-testo p{
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}

.wrapper-crm{
  width: 80%;
  margin: 50px auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(209,209,209,1);
}

.col-crm-left{
  width: 35%;
  text-align: center;
  padding: 100px 0;
  float: left;
}

.col-crm-left img{
  width: 200px;
}

.img-wrapper{
  margin-bottom: 30px;
}

.col-crm-right-list{
  list-style: none;
  margin: 20px 0;
}

.col-crm-right-list li{
  display: inline-block;
  font-size: 20px;
}

.col-crm-right-list li:nth-child(even){
  margin: 0 20px;
}

.col-crm-right{
  padding: 100px 0;
  float: left;
}

.col-crm-right h2{
  font-size: 30px;
}

.col-crm-right h3{
  font-size: 25px;
}

.col-crm-right p{
  margin: 20px 0;
  line-height: 30px;
  font-size: 20px;
}

.col-crm-right > hr{
  width: 500px;
  display: inline-block;
  vertical-align: middle;
}

.fa-check-circle{
  color: #FE775A;
}

.wrapper-crm::after{
  content: "";
  display: block;
  clear: both;
}

.wrapper-3-col{
  width: 80%;
  margin: auto;
  padding-bottom: 70px;
}

.main-col{
  width: 30%;
  height: 750px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(209,209,209,1);
  float: left;
}

.center{
  margin: 0 5%;
}

.right{
  float: right;
}

.wrapper-3-col::after{
  content: "";
  display: block;
  clear: both;
}

.main-col img{
  margin: 30px 0;
}

.main-col h2{
  font-size: 30px;
  margin-bottom: 30px;
}

.main-col > p{
  padding: 0 100px;
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 20px;
}

.main-col hr{
  margin: 0 40px;
}

.main-col h3{
  margin: 30px 0;
  font-size: 25px;
}

.main-col button{
  margin-top: 50px;
  margin-bottom: 20px;
}

.col-3-list{
  width: 70%;
  margin: auto;
  text-align: left;
  list-style: none;
}

.col-3-list li i,p{
  display: inline-block;
  font-size: 20px;
}

.left img{
  width: 145px;
}

.right img{
  width: 130px;
}

.center img{
  width: 180px;
}

/* tabella gradiente */
.tab{
  background-image: linear-gradient(to right, #00A5BD , #00BCA5);
}

.wrapper-tab{
  width: 80%;
  margin: auto;
  color: white;
}

.wrapper-tab > h2{
  text-align: center;
  font-size: 50px;
  padding: 50px 200px;
}

.wrapper-tab > p{
  text-align: center;
  font-size: 20px;
  padding: 0 200px;
}

.wrapper-tab-list{
  margin: 50px auto;
}

.riga-1{
  width: 70%;
  margin: auto;
}

.box{
  width: 25%;
  height: 200px;
  float: left;
  border-right: 1px solid white;
  text-align: center;
  padding-top: 15px;
}

.box h2{
  font-size: 50px;
  margin-bottom: 15px;
}

.fa-handshake{
  font-size: 35px;
  margin-bottom: 20px;
}

.box h3{
  display: inline-block;
  font-size: 25px;
}

.box h4{
  margin-top: 20px;
  font-size: 25px;
}

.box p{
  margin-bottom: 15px;
}

.riga-1 .box:last-child{
  border-right: none;
}

.wrapper-tab-list hr{
  margin: 0 150px;
}

.riga-2 .box:last-child{
  border-right: none;
}

.riga-2{
  width: 70%;
  margin: auto;
  padding-bottom: 100px;
}

.fa-globe-europe{
  font-size: 35px;
  margin-bottom: 20px;
}

.fa-comments{
  font-size: 35px;
  margin-bottom: 20px;
}

.riga-1::after{
  content: "";
  display: block;
  clear: both;
}

.riga-2::after{
  content: "";
  display: block;
  clear: both;
}

.wrapper-loghi{
  width: 80%;
  margin: auto;
}

.loghi-col-left{
  width: 40%;

  float:left;
}

.loghi-col-left h2{
  font-size: 50px;
  margin: 30px 100px;
}

.loghi-col-left p{
  margin-left: 100px;
  font-size: 20px;
}

.loghi-col-right{
  width: 60%;
  height: 300px;

  float: left;
}

.loghi-col-right-list{
  list-style: none;
  width: 80%;
}

.loghi-col-right li{
  display: inline-block;
  margin: 15px 40px;
  width: 13%;
}

.loghi-col-right img{
  width: 150px;
  vertical-align: middle;
}

.wrapper-loghi::after{
  content: "";
  display: block;
  clear: both;
}

.prefooter{
  margin-bottom: 30px;
}

.wrapper3{
  margin: 70px;
  width: 80%;
  margin: auto;
  position: relative;
}

.wrapper3::after{
  content: "";
  display: block;
  clear: both;
}

.banner2{
  width: 30%;
  float: left;
}

.banner2 h2{
  font-size: 40px;
  margin: 30px 0;
}

.banner2 p{
  font-size: 20px;
  margin-bottom: 30px;
}

.banner2 p:last-child{
  font-size: 13px;
  margin-top: 30px;
  display: block;
}

.pre-col-right{
  width: 70%;
  float: left;
  text-align: right;
}

.pre-col-right img{
  width: 300px;
  text-align: right;
}

footer{
  background-color: #33475C;
}

.wrapper4{
  width: 80%;
  margin: auto;
}

.col-foot{
  float:left;
  color: white;
  font-size: 20px;
  width: 25%;
}

.col-foot ul{
  list-style: none;
}

.col-foot h3{
  margin: 20px 0;
}

.col-foot li{
  line-height: 35px;
}

.icon > i{
  width: 8%;
}

.col-foot button{
  border-radius: 5px;
  background-color: white;
  color: #33475C;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
}

.lang{
  width: 50%;
  margin: auto;
}

.spec{
  color: white;
  font-size: 20px;
  display: inline-block;
  width: 15%;
  margin: 70px 0 30px 0;
}

.copi-col-left {
  float: left;
  width: 50%;
}

.copi-col-right{
  float: left;
  width: 50%;
  text-align: right;
}

.copi-col-left img{
  width: 120px;
  margin-top: 30px;
}

.copi-col-left h4{
  color: white;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 50px;
}

.copi-col-right p{
  color: white;
  font-size: 20px;
  margin: 30px 0 0 30px;
}

.copi::after{
  content: "";
  display: block;
  clear: both;
}
